/docker-compose.yml
/mirakurun/data/*
/mirakurun/conf/*
/konomitv/config.yaml
/konomitv/data/*
/konomitv/data/account-icnos/*
/konomitv/data/thumbnails/*
/konomitv/logs/*
/konomitv/capture/*

!.gitkeep